html {
  min-width: 1280px;
}

body {
  background: rgba(0, 0, 0, 0.1)
}

@keyframes scaling {

  0%,
  100% {
    transform: scale(0.2);
    background-color: #30FFB7;
  }

  40% {
    transform: scale(1);
    background-color: #07DEFF;
  }

  50% {
    transform: scale(1);
    background-color: #0761FF;
  }
}

.loading {
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 30%;
  width: 100%;
  height: 100%;
  margin: 0 40%;
}

.loading1,
.loading2,
.loading3,
.loading4,
.loading5 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  background-color: red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin: .5rem;
}

.loading1 {
  animation-delay: 0s;
}

.loading2 {
  animation-delay: 0.2s;
}

.loading3 {
  animation-delay: 0.4s;
}

.loading4 {
  animation-delay: 0.6s;
}

.loading5 {
  animation-delay: 0.8s;
}

.header {
  width: 80%;
  height: 100px;
  display: flex;
  position: relative;
  margin: 3% auto 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.header .header__input {
  position: absolute;
  width: 70%;
  height: 50px;
  margin: 2% 0;
  left: 2%;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 15px;
}

.header .header__select {
  position: absolute;
  width: 8%;
  height: 55px;
  margin: 2% 0;
  left: 90%;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 15px;
  font-size: 18px;
  padding: 15px;
}

.header .header__inputBtn {
  position: absolute;
  width: 7%;
  height: 55px;
  margin: 2% 0;
  right: 19%;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 15px;
}

.header .header__inputBtn .header__inputBtn__icon {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 35px;
  justify-content: center;
  margin: 0 auto;
}

.header .header__deleteBtn {
  position: absolute;
  width: 7%;
  height: 55px;
  margin: 2% 0;
  right: 11%;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 15px;
}

.header .header__deleteBtn .header__deleteBtn__icon {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 35px;
  justify-content: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto 3% auto;
  box-shadow: 0px 0px 5px 0px #888;
  display: flex;
  background-image: repeating-linear-gradient(#fdf8c8, #fdf8c8 38px, #ccd 40px);
}

.container::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: #d0a090;
}

.container .list {
  padding: 0px 16px 0 56px;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.container .list .list__item {
  display: flex;
  width: inherit;
}

.container .list .list__item .todo__title {
  width: 50%;
  word-wrap: break-word;
}

.container .list .list__item.done {
  font-style: italic;
  text-decoration: line-through;
  color: lightgray;
}

.container .list .priority {
  position: absolute;
  right: 3%;
  width: 100px;
  height: 30px;
  margin: 5px 0 5px 10px;
  border: 2px solid;
  font-size: 15px;
  font-style: normal;
}

.container .list .priority option {
  color: #000;
}

.container .list .done__btn {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 5px 5px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 30px;
}

.container .list .done__btn.done__btn--red {
  background-color: red;
  border-color: red;
}

.container .list .done__btn.done__btn--blue {
  background-color: blue;
  border-color: blue;
}

.container .list .done__btn.done__btn--green {
  background-color: green;
  border-color: green;
}

.container .list .done__btn.done__btn--checked {
  background-color: transparent;
  border-color: darkgray;
}

.container .list .done__btn.done__btn--checked::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: -10px;
  color: green;
}

.container .list .edit_btn {
  position: absolute;
  height: 40px;
  cursor: pointer;
  right: 18%;
  background-color: transparent;
  border: transparent;
  font-size: 30px;
  font-style: normal;
}

.container .list .del__btn {
  position: absolute;
  right: 13%;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  font-size: 30px;
  font-style: normal;
}

.container .list .createdAt {
  position: absolute;
  right: 25%;
  font-size: 10px;
  height: 10px;

}